/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

header {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 30px;
  margin-right: 10px;
}

header p {
  font-size: 20px;
  margin: 0;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

header a:hover {
  transition: 0.5s;
color: #c0392b;
}
header span {
  color: #4CAF50;
}



header button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: #c0392b;
}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}